{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished', 'paragraph--type--homepage-researchers-partners',
    block_class
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      <div class="section section-two">

        <div class="container-fluid gradient-bg">
          <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="{{ directory }}/media/bg-gradient.mp4" type="video/mp4">
            <track kind="captions" src="" srclang="en" label="English">
          </video>
          <div class="row mx-auto">
            <div class="buttons-section">
              <a href="{{ content.field_p_block_two_links.0['#url'] }}" class="apply-button"><span>{{ content.field_p_block_two_links.0['#title'] }}</span></a>
              <a href="{{ content.field_p_block_two_links.1['#url'] }}" class="apply-button apply-button-black"><span>{{ content.field_p_block_two_links.1['#title'] }}</span></a>
              {% if not content.field_p_block_two_links.2 == false %}
                <a href="{{ content.field_p_block_two_links.2['#url'] }}" class="apply-button"><span>{{ content.field_p_block_two_links.2['#title'] }}</span></a>
              {% endif %}
            </div>
          </div>

        </div>
        <div class="container-xl">
          <div class="black-content">
            <div class="row">
              <div class="col-md-7">
                {{ content.field_p_block_text }}

              </div>
              <div class="col-md-5">
                <div class="badge-link">
                  <a href="{{ content.field_p_block_link.0['#url'] }}" class="badge-link-url" title="Meet our Committee">{{ content.field_p_block_link.0['#title'] }}</a>
                </div>

              </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                {{ content.field_p_block_photo }}
              </div>
              <div class="col-md-6">
                <blockquote>
                  <span class="quote-sign"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.03 30"><defs><style>.cls-1{font-size:27.03px;fill:#fff;font-family:BwGradual-Bold, Bw Gradual;font-weight:700;}</style></defs><g data-name="Warstwa 2"><g data-name="Layer 1"><text class="cls-1" transform="translate(12.03 6.49) rotate(180)">”</text></g></g></svg></span>
                  {{ content.field_p_block_quote }}
                </blockquote>
                <div class="sign">
                  {{ content.field_p_block_quote_name }}
                  {{ content.field_p_block_quote_title }}
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
